@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


body {
    background: #000000;
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    
}

.logo{
    animation-name: logo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    list-style: none;
}

@keyframes logo{
    from{
        transform: scale(1);
        opacity: 0;
    }
    to{
        transform: scale(1.1);
    }
}

header{
    background: rgb(39, 43, 38);
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    /* border: 3px solid rgb(204, 207, 17); */
    /* margin-bottom: 20px; */
    
 }

 /* NAVBAR */

/* .navbar-item{
    margin: 0 15px;
    list-style: none;
 }

.navbar-ul{
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 20px;
    color: whitesmoke;
    
} */

/* ul li a{
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}



ul li a:hover{
    color: yellow;
    
        
} */

/* NAVBAR */



/* PRUEBA */

ul{
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    list-style: none;
    margin: 0 20px;
    transition: .5s;
}

ul li a{
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    transition: .4s;
}

ul:hover li a{
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

ul li a:hover{
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
    color: #beb7b7;
}

ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(24, 24, 41);
    transition: .4s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

ul li a:hover::before{
    transition: transform .4s;
    transform-origin: left;
    transform: scaleX(1);

}



/* PRUEBA */

.hero{
    /* border: solid 2px rgb(12, 161, 50); */
    padding: 300px 0;
    max-height: 600px;
    background-image: url("../img/portada-1.png") ;
    background-size: 100% auto;
    background-position: center;
    /* background-repeat: no-repeat;
    background-position-x: right; */
    display: flex;
    align-items: center;
    /* flex-wrap: wrap;  */
    
}

/* INICIO */

.inicio{
    background: #1f2122;
    padding: 6px;
    margin: 20px 0;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 2px solid red; */


}


h2{
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}

h2:hover{
    color: rgb(116, 115, 115);
}

.inicio-init{
    border: 1px solid #fafafa;
    border-radius: 8px;
    margin: 25px;
    background-image: linear-gradient(90deg,rgb(14, 16, 71), rgb(51, 141, 141));
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    
}


.inicio-details{
    width: 50%;
    /* border: solid 2px red; */
    }
    
    
    .inicio-title{
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
    }

    .inicio-title:hover{
        color: tomato;
    }
    
    
    .inicio-subtitle, .inicio-info, .inicio-url{
        margin: 10px 0;
    }
    
    .inicio-description{
        font-size: 25px;

    }
    
    .inicio-img-container{
        width: 45%;
        margin: 0;
        /* border: solid 2px red; */
        
    
    }
    
    .inicio-img{
        width: 100%;
    }

/* INICIO */


/* QUIENES SOMOS */

    .quienes{
        background: #1f2122;
        padding: 6px;
        margin: 20px 0;
        /* border: 2px solid red; */
    
    
    }
    
    
    h2{
        color: whitesmoke;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 25px;
    }

    
    
    .quienes-init{
        border: 1px solid #fafafa;
        border-radius: 8px;
        margin: 25px;
        background-image: linear-gradient(90deg,rgb(51, 141, 141) ,rgb(14, 16, 71) );
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .quienes-img-container{
        width: 50%;
        margin: 0;
        /* border: solid 2px red; */
    
    }
    
    .quienes-img{
        width: 100%;
    }
    
    .quienes-details{
        width: 50%;
        /* border: solid 2px red; */
        }
        
        
    .quienes-title{
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        }

         
    .quienes-description{
        font-size: 30px;
        margin-left: 50px;
        /* border: 2px solid red; */
        }
        
/* QUIENES SOMOS */

/* QUE HACEMOS */


    .hacemos{
        background: #1f2122;
        padding: 6px;
        margin: 20px 0;
        /* border: 2px solid red; */
    
    
    }
    
    
    h2{
        color: whitesmoke;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 25px;
    }

    
    
    .hacemos-init{
        border: 1px solid #fafafa;
        border-radius: 8px;
        margin: 25px;
        background-image: linear-gradient(90deg,rgb(14, 16, 71), rgb(51, 141, 141));
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        
    }
    
    
    .hacemos-details{
        width: 50%;
        /* border: solid 2px red; */
        }
        
        
        .hacemos-title{
            font-size: 35px;
            margin-top: 0;
            margin-bottom: 10px;
            color: rgb(0, 0, 0);
        }

        .hacemos-title:hover{
            color: tomato;
            
        }
        
        
        .hacemos-description{
            font-size: 30px;
        }
        
        .hacemos-img-container{
            width: 35%;
            margin: 0;
            /* border: solid 2px red; */
        
        }
        
        .hacemos-img{
            width: 100%;
        }

        /* QUE HACEMOS */

        /* ANIMACION */

        .h2{
            position: relative;
            margin: 0;
            font-size: 50px;
            font-weight: 900;
            color: #fff;
            z-index: 3;
            overflow: hidden;
        }

        /* .h2::before{
            content: '';
            position: absolute;
            left: 120%;
            width: 120%;
            height: 100%;
            background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
            animation: animate 7.5s linear forwards;
        }
        @keyframes animate{
           0% {
               left: 110%;

            }
           100% {
                left: -20%;
 
             }
        } */

        /* .h2, .span{
            color: #ff022c;
        } */

        .animacion{
            background: #1f2122;
            padding: 6px;
            margin: 20px 0;
            /* border: 2px solid red; */
                    
        
        }

        .animacion-init{
            border: 1px solid #fafafa;
            border-radius: 8px;
            margin: 25px;
            background-image: linear-gradient(90deg,rgb(51, 141, 141) ,rgb(14, 16, 71) );
            display: flex;
            padding: 20px;
            justify-content: space-evenly;
            align-items: center;
            
            
        }

        .animacion-details{
            width: 50%;
            /* border: solid 2px red; */
            }

         .animacion-description{
             font-size: 30px;
             /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
            
            
         }   

        .animacion-neon{
            /* border: 1px solid red; */
            display: inline-flex;
            filter: brightness(200%);
            overflow: hidden;
            
        }

        .texto::before{
            content: "D&L";
            position: absolute;
            mix-blend-mode: difference;
            filter: blur(3px);


        }

        .texto{
            color: #ffffff;
            background: #000000;

            font-size: 150px;
            font-weight: bold;
            font-family: Arial;
            text-transform: uppercase;

        }

        .gradient{
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,98,121,1) 15%, rgba(175,106,45,1) 87%, rgba(0,212,255,1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            mix-blend-mode: multiply;

        }

        .dodge{
            background: radial-gradient(circle, white, black 35%) center / 25% 25%;
            position: absolute;
            top: -100%;
            left: -100%;
            right: 0;
            bottom: 0;
            mix-blend-mode: color-dodge;
            animation: dodge-area 3s linear infinite;
        }

        @keyframes dodge-area {
            to{
                transform: translate(50%, 50%);

            }
        }







        

        

        /* ANIMACION */

        /* MISION Y VISION */


        .mv-container{
            margin: 15px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 30px 0;
            background-image: linear-gradient(90deg,rgb(15, 15, 15), rgb(87, 87, 88));
        }

        .mision{
            margin: 10px;
            border: 3px #006064 solid;
            width: 480px;
            background-image: linear-gradient(90deg,#8d1a17,#181733);
            border-radius: 15px;
            overflow: hidden;
            flex-shrink: 0;
            width: 400px;
            height: 345px;
         
         }
         
         .mision-title{
             font-size: 30px;
             color: black;
         }
         .mision-details{
            margin: 20px;
            background: linear-gradient(to top right, rgb(177, 54, 5), rgb(204, 185, 14));
            position: relative;
            padding: 15px;
            text-align: center;
        
        }

        .mision-description{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: inherit;
            text-align: start;
        }


        .vision{
            margin: 10px;
            border: 3px #006064 solid;
            width: 480px;
            background-image: linear-gradient(90deg,#8d1a17,#181733);
            border-radius: 15px;
            overflow: hidden;
            flex-shrink: 0;
            width: 400px;
            height: 345px;
         
        }
        
        .vision-title{
           font-size: 30px;
            color: black;
        
        }

        .vision-description{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: inherit;
            text-align: start;

        }

        .vision-details{
            margin: 20px;
            background: linear-gradient(to top right, rgb(177, 54, 5), rgb(204, 185, 14));
            position: relative;
            padding: 15px;
            text-align: center;
        
        }


        /* CONTACTO */

        .contact{
            background: rgb(17, 42, 63);
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            
        
        }

        .contact-form{
            margin-left: 3%;
        }
        
        .contact-form-label{
            display: block;
            /* margin: 10px; */
            font-weight: 700;
            font-size: 21px;
            padding-top: 10px;
            text-transform: uppercase;
        
        
        }

        .contact-description{
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
        }
        
        
        .contact-form-email{
         border: 1px solid grey;
         border-radius: 50px;
         padding: 5px 20px;
         padding-left: 25px;
         background-image: url("../img/envelope.svg");
         background-size: 15px;
         background-repeat: no-repeat;
         background-position-y: center;
         background-position-x: 5px;
         margin: 10px 0;
        
        }
        
        
        .contact-form-button{
            text-transform: uppercase;
            font-size: 12px;
            /* color: red; */
            display: block;
            margin-top: 10px;
            background: transparent;
            color: var(--text);
            border-radius: 5px;
            padding: 10px 16px;
            width: 100px;
            margin-bottom: 5px;
            
        
        }

        .contact-form-button:hover{
            color: orangered;
            background: wheat;
        }
        
        
        
        
        .social-container{
            /* border: 1px solid red; */
            margin: 50px;
            width: 350px;
            height: 100px;
            
            
        }
        
        .social-link{
            display: inline-block;
            width: 40px;
            height: 40px;
            /* border: 1px solid white; */
            background-size: 40px 40px;
            margin-left: 20px;
            margin-right: 10px;
            
        
        }
        
        
        .social-link.facebook{
            background-image: url("../img/facebook.svg");
            
        }

        .social-link.facebook:hover{
            background-image: url("../img/facebook-hover.svg")
        }
        
        
        .social-link.instagram{
            background-image: url("../img/instagram.svg");
        
        }

        .social-link.instagram:hover{
            background-image: url("../img/instagram-hover.svg")
        }
        
        
        .social-link.whatsapp{
            background-image: url("../img/whatsapp.svg");
        
        }

        .social-link.whatsapp:hover{
            background-image: url("../img/whatsapp-hover.svg")
        }
        
        
        .social-link.github{
            background-image: url("../img/github.svg");
        }

        .social-link.github:hover{
            background-image: url("../img/github-hover.svg")
        }
        

    .footer{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 30vh;
            background: #031321;
            font-family: consolas;
           
        }

        .ul{
            margin: 0;
            padding: 0 100px;
            box-sizing: border-box;

        }

        .la{
            position: relative;
            display: inline-flex;
            padding: 15px 30px;
            color: #2196f3;
            text-transform: uppercase;
            letter-spacing: 4px;
            list-style: none;
            font-size: 22px;
            overflow: hidden;
            font-weight: 700;
            transition: .2s;
            

        }

        .la:hover{
            color:#255784;
            background: #2196f3;
            box-shadow: 0 0 10px  #2196f3, 0 0 40px  #2196f3, 0 0 80px  #2196f3 ;
        }

        .le{
            position: relative;
            display: inline-flex;
            padding: 15px 30px;
            color: #f3214f;
            text-transform: uppercase;
            letter-spacing: 4px;
            list-style: none;
            font-size: 22px;
            overflow: hidden;
            font-weight: 700;
            transition: .2s;
            

        }

        .le:hover{
            color:#360c1c;
            background: #f32160;
            box-shadow: 0 0 10px  #f32160, 0 0 40px  #f32160, 0 0 80px  #f32160 ;
        }

        .li{
            position: relative;
            display: inline-flex;
            padding: 15px 30px;
            color: #33f321;
            text-transform: uppercase;
            letter-spacing: 4px;
            list-style: none;
            font-size: 22px;
            overflow: hidden;
            font-weight: 700;
            transition: .2s;
            

        }

        .li:hover{
            color:#2d5e0c;
            background: #21f33d;
            box-shadow: 0 0 10px  #21f33d, 0 0 40px  #21f33d, 0 0 80px  #21f33d ;
        }

    

