$white: #f9fafb;
$link: #1d4ed8; //blue 800 tailwind
$hard-black: #111827;
$soft-black: #374151;

.index{
  display: flex;
  flex-direction: column;
  gap: 2rem 0;

  .title{
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
  
    h2{
      font-size: 0.8rem;
    }
  }
  
  .hero{
    position: relative;
    width: 100%;
  
    .image{
      width: 100%;
      height: 65vh;
      object-fit: cover;
    }
  
    div{
      position: absolute;
      top: 70%;
      margin-left: 4rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      h3, p{
        color: $white; 
      }
    }
  }
  
  .cardContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  
    .card{
      width: 25rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
  
      img{
        width: 100%;
        height: 12rem;
        object-fit: cover;
      }

      div{
        display: flex;
        gap: 0 1rem;
        align-items: center;
        color: $hard-black;
        font-size: 0.75rem;
      }

      .link{
        position: relative;
        color: $link;
        text-decoration: none;
        font-size: 1.75rem;
      }

      .description{
        text-overflow: ellipsis;
        font-size: 1rem;
      }

      ul{
        display: flex;
        gap: 1rem;
        color: $hard-black;
        font-size: 0.75rem;

        li{
          list-style: none;
          border: 1px solid $soft-black;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}